.sign-up-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    font-family: 'Noto Sans Tai Le', sans-serif;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
}

.sign-up-form-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.sign-up-container > h1 {
    font-size: 30px;
    padding-bottom: 10px;
}

#sign-up-email-input {
    box-sizing: border-box;
    background-color: lightgray;
    height: 25px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 303px;
}

#sign-up-username-input {
    box-sizing: border-box;
    background-color: lightgray;
    height: 25px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 268px;
}

#sign-up-name-input {
    box-sizing: border-box;
    background-color: lightgray;
    height: 25px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 299px;
}

#sign-up-location-select {
    box-sizing: border-box;
    background-color: lightgray;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 283px;
    font-family: 'Noto Sans Tai Le', sans-serif;
}

#sign-up-bio-textarea {
    box-sizing: border-box;
    background-color: lightgray;
    height: 60px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 323px;
    font-family: 'Noto Sans Tai Le', sans-serif;
    resize: none;
    font-size: 12px;
}

#sign-up-password-input {
    box-sizing: border-box;
    background-color: lightgray;
    height: 25px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 277px;
    font-family: 'Noto Sans Tai Le', sans-serif;

}

#sign-up-profile-picture-link {
    box-sizing: border-box;
    background-color: lightgray;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 251px;
    font-family: 'Noto Sans Tai Le', sans-serif;
    /* display: flex; */
    /* align-items: center; */

}

#sign-up-confirm-password-input {
    box-sizing: border-box;
    background-color: lightgray;
    height: 25px;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    width: 215px;
    font-family: 'Noto Sans Tai Le', sans-serif;
}

#sign-up-submit-form {
    box-sizing: border-box;
    width: 200px;
    color: white;
    background-color: black;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 25px;
}

#sign-up-submit-form:hover {
    cursor: pointer;
    box-shadow: 0px 0px 5px 2px lightgray;
}

.sign-up-errors {
    font-size: 12px;
    color: red;

}