@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tai+Le&family=Rubik+Doodle+Shadow&display=swap');


.individual-comment-box {
    box-sizing: border-box;
    background-color: white;
    width: 65vw;
    border-radius: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#comment-box-artist-link {
    text-align: right;
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans Tai Le', sans-serif;
    font-size: 12px;
    width: fit-content;
    align-self: flex-end;
}

#comment-box-artist-link:hover {
    cursor: pointer;
    font-weight: bold;
}

.comment-text {
    color: black;
    font-family: 'Noto Sans Tai Le', sans-serif;
    font-size: 15px;
    word-wrap: break-word;
    width: 800px;
    /* background-color: aqua; */

}

.comment-text-and-buttons {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: lightblue; */
}

#comment-update-delete-buttons {
    box-sizing: border-box;
    display: flex;
    gap: 5px;
}

#update-comment-button, #delete-comment-button:hover {
    cursor: pointer;
}

.update-comment-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#update-comment-textarea {
    resize: none;
    font-family: 'Noto Sans Tai Le', sans-serif;
    font-size: 15px;
}

#update-comment-form-buttons, #delete-comment-buttons-box {
    box-sizing: border-box;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    gap: 20px;
}

#delete-comment-text {
    font-family: 'Noto Sans Tai Le', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}



#save-updated-comment, #cancel-updated-comment, #confirm-delete-comment, #cancel-delete-comment {
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px; 
    padding-right: 20px;
    border-radius: 25px;
    font-family: 'Noto Sans Tai Le', sans-serif;
    color: white;
}

#save-updated-comment:hover, #cancel-updated-comment:hover, #confirm-delete-comment:hover, #cancel-delete-comment:hover {
    cursor: pointer;
    font-weight: bold;
}